body {
    background-color: burlywood;
    color: rgb(145, 14, 25);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-style: oblique;
}
.legit {
    background-color: slategray;
    border: slateblue;
    color: black;
    font-size: x-large;
    font-style: oblique;
}